/* here you can put your own css to customize and override the theme */

.btn {
	z-index: 0 !important;
}

.actions {
    float: right;
}

.pagination {
    margin: 0 !important;
}

a[ ng-click ] {
    color: #337ab7;
    cursor: pointer ;
}

a[ ng-click ]:hover{
    color: #23527c;
    cursor: pointer ;
}

div.m-modals {
    background-color: rgba( 0, 0, 0, 0.8 ) ;
    bottom: 0px ;
    left: 0px ;
    position: fixed ;
    right: 0px ;
    top: 0px ;
}

div.m-modals.ng-hide {
    background-color: rgba( 0, 0, 0, 0 );
}

.modal-header {
    background: #435060;
    border-bottom: 1px solid #e5e5e5;
    padding: 15px;
}

.modal-title {
    color: #ffffff;
    font-weight: bold;
}

.modal-dialog {
    top: 30px;
    width: 40%;
}

.modal-body.product-modal {
	height: 400px;
    overflow-y: auto;
}

.modal-dialog.full-width {
	width: 85%;
	z-index: 999 !important;
	overflow-y: initial !important;
}

.page-sidebar .sidebar-search .input-group .form-control,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search .input-group .form-control {
	z-index: 0 !important;
}

.modal {
    display: block !important;
    z-index: 999 !important;
}

a.jump {
    color: #999999 ;
}

a.jump:hover {
    background-color: gold ;
    color: #000000 ;
}

.form-group.custom {
    margin: 0 0 10px 0;
}

.form-group.custom .col-md-3.control-label.left {
	text-align: left !important;
}

.horizontal-gap {
    margin: 10px;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
	z-index: 0 !important;
}

.chosen-container {
	height: 34px;
}

.chosen-container-multi .chosen-choices,
.chosen-container-multi .chosen-choices li.search-field,
.chosen-container-multi .chosen-choices li.search-field input[type="text"],
.chosen-container-single .chosen-default,
.chosen-container-single .chosen-single {
	height: 100% !important;
}

.chosen-container-multi .chosen-choices li.search-choice {
	margin: 2px 0 0 5px !important;
}

.chosen-container-single .chosen-single span {
    height: 34px;
    padding-top: 3px;
}